<html>
  <head>
    <title>My Angular App!</title>
    <script src="/javascripts/angular.min.js"></script>
	<script src="/javascripts/angular-route.js"></script>
    <script src="/javascripts/angularapp.js"></script>
  </head>
  <body data-ng-app="flapperNews">
    <div data-ng-view=''></div>
  </body>
</html>